<%- model_class = Schedule -%>
<div class="page-header">
  <h1>Registration</h1>
</div>

<%= render(:partial => "search_form") %>

 <!-- form_tag copy_classes_copyclasses_path, method: :get do  -->

<div id="datatable"></div>
<br/>
<div id="detailtable"></div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_schedule_path,
            :class => 'btn btn-primary' %>

<%= link_to 'AutoClass', { :controller => 'autoclasses', :action => 'autoclass' }, :class => 'btn' %>

<!-- submit_tag "CopyClass", :id => "copyclass", :disabled => true, :class => 'btn'  -->

 <!-- end  -->
