/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require kendo/kendo.common.min
 *= require kendo/kendo.default.min
 *= require_self
 *= require chosen
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require bootstrap-datepicker
 *= require dataTables/jquery.dataTables.bootstrap
 *= require dataTables/extras/TableTools
 *= require dataTables/extras/TableTools_JUI
 *= require_tree .
 */


/*#datatable td, th {*/
	/*font-size: 11px;*/
	/*white-space: nowrap;*/
/*}*/

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
    width: 460px;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 1em 0;
    clear: both;
}
