/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require kendo/kendo.common.min
 *= require kendo/kendo.default.min
 *= require chosen
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
 */

div .page-header {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top:0px;
    margin-bottom:7px;
}

table td {
    padding: 0em;
}

.k-header {
    white-space: nowrap;
    font-size: 11px;
    /*font-weight: bold;*/
}

.k-grid {
    margin: 0px 0px 10px 0px;
}

.k-grid td {
    font-size: 11px;
    white-space: nowrap;
/*    padding: 2px 4px;
*/}

.k-grid-content {
    height: 100%;
}

.k-link {
    font-weight: bold;   
}


.k-list-container {
    font-weight: normal;
}

.k-link:hover {
    font-size: 11px;
    text-decoration: none;
    background: lightgray;
}



