
// #new_autoclass div.control-group {
// 	float: left;
// //	border: dashed 1px cornflowerblue;
// }

#new_autoclass div.string {
	float: left;
	// border: dashed 1px red;
}

#new_autoclass div.boolean {
	// float: left;
	clear: both;
	// border: dashed 1px cornflowerblue;
}

#new_autoclass div.select {
	float: left;
	// border: dashed 1px yellow;
}

#autoclass_max_classes, #autoclass_size  {
	width: 80px;
}

#autoclass_start_date, #autoclass_stop_date {
	width: 80px;
}



div.autoclass_start_at_time {
	clear: both;
}

div.autoclass_class_length {
	width: 274px;
}

div.autoclass_class_length p.help-block {
		font-size: 14px;
		color: #333;
		width: 30px;
		vertical-align: middle;
		padding-left: 5px;
		display: inline;
}

#autoclass_class_length {
	width: 30px;
}

#autoclass_start_at_time, #autoclass_stop_by_time {
	width: 80px;
}

div.autoclass_activity_id, div.autoclass_day_of_week {
	clear: both;
}

#new_autoclass div.form-actions {
 	clear: both;
}
