// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#schedule_search {
	display: inline-block;
}

#schedule_search div.schedule_filter_field {
	// border: 1px solid gray;
	float:left;
}

#schedule_search div.schedule_filter_field_wide {
	width: 170px;
}

#schedule_search div.schedule_filter_field_medium {
	width: 108px;
}

#schedule_search div.schedule_filter_field_narrow {
	width: 49px;
}

#schedule_search div.schedule_filter_field label {
	// border: 1px solid red;
	vertical-align: top;
	margin: 0px;
	font-size: 12px;
	height: 15px;
	display: inline-block;
}

#schedule_search div.chzn-container {
	width: 165px !important;
}

#schedule_search #q_id_eq {
	width: 30px;
	height: 19px;
	margin-bottom: 3px;
}

// #schedule_search #q_start_date_gteq, #schedule_search #q_start_date_lteq,
// #schedule_search #q_start_time_gteq, #schedule_search #q_stop_time_lteq {
// 	width: 90px;
// 	margin-bottom: 3px;
// 	height: 19px;
// }

#schedule_search .k-datepicker {
	width: 103px;
	// margin-bottom: 3px;
	// height: 32px;
}

#schedule_search .k-timepicker {
	width: 103px;
	// margin-bottom: 3px;
	// height: 32px;
}

#schedule_search #schedule_filter_buttons {
	clear: both;
	// background-color: gray;
}

#schedule_ids_ {
	margin: -2px 0px 0px 3px;
}

#selectall {
	margin: -1px 0px 0px 1px;	
}

input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}


div .boolean {
// 	width: 170px;
	// background-color: lightblue;
// 	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 5px !important;
}

div .boolean label {
// 	max-width: 90px;
 	// border: 1px solid blue;
 	margin-top: -9px;
}

#base_errors span {
	color: #b94a48;
	padding: 0px 0 10px 182px;
}

#schedule_comments {
	height: 80px;
	width: 500px;
}

div .schedule_start_date, div .schedule_stop_date, div .schedule_start_time, div .schedule_stop_time {
	width: 450px;
	margin-right: 0px;
	display: inline-block;
}

#schedule_start_date, #schedule_stop_date, #schedule_start_time, #schedule_stop_time, #schedule_size {
	width: 80px;
}