// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#schedule_search {
	display: inline-block;
}

#schedule_search div.schedule_filter_field {
	// border: 1px solid gray;
	float:left;
}

#schedule_search div.schedule_filter_field_wide {
	width: 170px;
}

#schedule_search div.schedule_filter_field_medium {
	width: 108px;
}

#schedule_search div.schedule_filter_field_narrow {
	width: 49px;
}

#schedule_search div.schedule_filter_field label {
	// border: 1px solid red;
	vertical-align: top;
	margin: 0px;
	font-size: 12px;
	height: 15px;
	display: inline-block;
}

#schedule_search div.chzn-container {
	width: 165px !important;
}

#schedule_search #q_id_eq {
	width: 30px;
	height: 19px;
	margin-bottom: 3px;
}

// #schedule_search #q_start_date_gteq, #schedule_search #q_start_date_lteq,
// #schedule_search #q_start_time_gteq, #schedule_search #q_stop_time_lteq {
// 	width: 90px;
// 	margin-bottom: 3px;
// 	height: 19px;
// }

#schedule_search .k-datepicker {
	width: 103px;
	// margin-bottom: 3px;
	// height: 32px;
}

#schedule_search .k-timepicker {
	width: 103px;
	// margin-bottom: 3px;
	// height: 32px;
}

#schedule_search #schedule_filter_buttons {
	clear: both;
	// background-color: gray;
}

#schedule_ids_ {
	margin: -2px 0px 0px 3px;
}

#selectall {
	margin: -1px 0px 0px 1px;	
}

input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}